body {
    background-color: #ffffff;
    color: #353833;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

p {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 14px;
}

caption {
    font-family: 'DejaVu Sans Mono', monospace;
    text-align: left;
    font-size: 16px;
}

table, th, td {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    vertical-align: top;
    padding-top: 4px;
    border-collapse: collapse;
    border: 1px solid black;
}

table {
    text-align: left;
    width: 100%;
}